.actionbar-div{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 15px;
   
}

.actionbar-div > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.seperator{
    background-color: #EDEFF2;
    width: 90%;
    height: 3px;
    border-radius: 10px;
}

.actionbar-p {
    font-family: 'Roboto', sans-serif;
    text-justify: inter-character;
    text-align-last: justify;
}
