@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

.input-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    background: #EDEFF2;
    border-radius: 20px;
    outline: none;
    border: 0px solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 70%;
    height: 3vh;
    margin-bottom: 5%;
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

label{
    text-align: left;
}

.input-label{
    flex-basis: 1;
    width: 70%;
}