.main-settings-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    background-color: #EDEFF2;
}

.settings-div{
    display: flex;
    margin-top: 1%;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
}

.general-div{
    width: 80%;
    height: 90vh;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#general-title{
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.edit-actions{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 5%;
    margin-left: auto;
}

.header-section{
    display: flex;
    align-items: center;
    margin: 2%;
}

.setting-section{
    margin: 8%;
    margin-top: 0;
    margin-bottom: 0;
}

.setting-seperator{
    margin: auto;
    width: 97%;
    padding: 0.3%;
    border-radius: 20px;
    background-color: #EDEFF2;
}
.username-section{
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
}

.username-p{
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.text-p{
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    font-weight: 100;
    margin: 0; 
    margin-left: 3%;
    padding: 0;
}

.email-section{
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
}

.email-p{
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    font-weight: bold;
    margin: 0; 
    padding: 0;
}

.emailtext-p{
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    font-weight: 100;
    text-decoration: underline;
    margin: 0; 
    margin-left: 3%;
    padding: 0;
}

.password-section{
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
}

.password-p{
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.button-section{
    margin: 2%;
    margin-bottom: 0;
    text-align: center;
}

.delete-section{
    margin: 8%;
    margin-bottom: auto;
    text-align: center;
}


.modal-bg{
    position:fixed;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.bg-active{
    visibility: visible;
    opacity: 1;
}

.modal{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}


@media only screen and (max-width: 456px) {
    
   .username-section > p, .email-section > p, .password-section > p {
    font-size: 0.9em;
}
    .edit-actions > svg{
        width: 190%;
        height: 190%;
    }

}
