.publishedlist-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.publishedlist-item p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    margin-top: .2em;
    margin-bottom: .2em;
}