@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@100;400&display=swap');

.main-navbar{
    width: 100%;
    display: flex;
    background-color: #4285F4;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    align-items: center;
    justify-content: space-between;
}

#navbar-logo{
    padding-left: 1%;
    margin: 0;
    width: 80%;
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 200%;
}

#navbar-user{
    padding: 0;
    padding-right: 1%;
    margin: 0;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
}